:root {
  --header-color: rgb(245, 245, 245);
  --main-back-color: rgb(216, 214, 214);
  --border-color: gray;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--main-back-color);
}

.header-body {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--header-color);
}

.header-body > * {
  padding: 20px 30px 20px 30px;
  background-color: var(--header-color);
}

.logo-link {
  padding: 0px;
}

.logo {
  height: 60px;
  padding: 10px 30px 5px 30px;
  background-color: var(--header-color);
}

.git-logo-link {
  padding: 12px 20px 0px 30px;
}

.git-logo {
  height: 35px;
  padding: 0px;
  background-color: var(--header-color);
}

.links {
  display: flex;
  gap: 30px;
}

.links > * {
  color: black;
  text-decoration: none;
  background-color: var(--header-color);
  transition: transform 0.2s;
}

.links > *:hover{
    transform: translateY(-15%);
}

.articles-body {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.article-container {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.latest-stories {
  padding-top: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--border-color);
  font-weight: 900;
  font-size: 35px;
}

.article-date {
  font-weight: 900;
  font-size: 15px;
}

.article-title {
  font-weight: 900;
  font-size: 35px;
  width: 30%;
  word-wrap: break-word;
}

.article-content {
  font-size: 15px;
  width: 30%;
  word-wrap: break-word;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.delete-button {
  font-size: 15px;
  width: 80px;
  height: 30px;
  background: none;
  color: var(--header-color);
  border: 1px solid black;
  background-color: black;
  transition: background-color 0.3s, color 0.3s;
}

.delete-button:hover {
  background-color: var(--header-color);
  color: black;
}

.feature-button {
  font-size: 15px;
  width: 80px;
  height: 30px;
  background: none;
  color: var(--header-color);
  border: 1px solid black;
  background-color: black;
  transition: background-color 0.3s, color 0.3s;
}

.feature-button:hover {
  background-color: var(--header-color);
  color: black;
}

.chat-link {
  font-size: 15px;
  text-decoration: none;
  color: var(--header-color);
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  border: 1px solid black;
  transition: background-color 0.3s, color 0.3s;
}

.chat-link:hover {
  background-color: var(--header-color);
  color: black;
}


/* Create Page */
.create-body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.title-field,
.content-field,
.date-field,
.url-field {
  width: 60%;
  padding-bottom: 20px;
}

.date-input {
  padding: 5px;
}

.title-input {
  width: 100%;
  padding: 10px;
}

.content-input {
  width: 100%;
  vertical-align: top;
  padding: 10px;
}

.url-input {
  width: 100%;
  padding: 10px;
}

.create-button {
  background-color: black;
  color: var(--header-color);
  margin-top: 10px;
  padding: 5px 10px;
  transition: background-color 0.3s 
}

.create-button:hover {
  background-color: var(--header-color);
  color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}



/* Chat Page  */
.main-chat{
  width: 100vw;
  height: 100vh;
}

.chat-body{
  display: flex;
  height: calc(100% - 61px);
}

.pdf-box {
  width: 50vw;
}

.GPT-box {
  display: flex;
  flex-direction: column;
  padding: 12px;
  padding-right: 15px;
  width: 50vw;
  justify-content: end;
}

.chat-history {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.user {
  display: flex;
  justify-content: right;
  margin-left: 5vw;
}

.user p {
  background-color:black;
  color: var(--header-color);
  border-radius: 20px;
  padding: 12px;
}

.assistant {
  display: flex;
  justify-content: left;
  margin-right: 5vw;
}

.assistant p {
  background-color: var(--header-color);
  border-radius: 20px;
  padding: 12px;
}

.loading {
  display: flex;
  justify-content: left;
  margin-right: 5vw;
}

.loading p {
  background-color: var(--header-color);
  border-radius: 20px;
  padding: 12px;
}

.inactive {
  display: none;
}

.query-field {
  height: 50px;
  width: 100%;
  align-items: end;
  display: flex;
  padding-top: 12px;
}

.query-input {
  background-color: var(--header-color);
  width: calc(100% - 50px);
  height: 100%;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.query-button{
  background-color: black;
  color: var(--header-color);
  width: 50px;
  height: 100%;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.query-button:hover {
  background-color: var(--header-color);
  color: black;
}
